body {
margin: 0;
overflow: hidden;
font-family: Arial;

background:
repeating-linear-gradient(
45deg,
#fff6a3 0px,
#fff6a3 40px,
#fffce0 40px,
#fffce0 80px
);

height: 100vh;
}

body::before {
content: "";

position: fixed;
inset: 0;

background-image:
linear-gradient(
rgba(255, 221, 0, 0.18) 50%,
transparent 50%
),
linear-gradient(
90deg,
rgba(255, 221, 0, 0.18) 50%,
transparent 50%
);

background-size: 160px 160px;

pointer-events: none;
}

/* LOGIN */

#loginBox {

position: absolute;

top: 50%;
left: 50%;

transform: translate(-50%, -50%);

background: white;

padding: 40px;

border-radius: 20px;

text-align: center;

z-index: 10;
}

#game {
display: none;
}

/* COINS */

.coinsBox {

position: absolute;

left: 40px;
top: 20px;

text-align: center;
}

#coins {

font-size: 45px;
font-weight: bold;
}

/* STATS */

#stats {

margin-top: 10px;

background: rgba(0,0,0,0.15);

padding: 10px;

border-radius: 10px;
}

/* HORSE */

.horseArea {

position: absolute;

left: 40px;
top: 300px;
}

#horseBtn {

width: 220px;
height: 220px;

font-size: 120px;

border: none;

border-radius: 20px;

background: rgba(139,90,43,0.5);

cursor: pointer;

transition: 0.1s;
}

#horseBtn:active {

transform: scale(0.9);
}

/* SHOP */

.shopBox {

position: absolute;

left: 320px;
top: 90px;
}

.shopPanel {

width: 260px;
height: 500px;

display: flex;
flex-direction: column;

gap: 10px;

overflow-y: auto;
}

.shopPanel button {

min-height: 90px;

border: none;

border-radius: 15px;

background: #ffe04d;

font-weight: bold;

cursor: pointer;
}

/* SPECIAL */

.specialBox {

position: absolute;

left: 700px;
top: 450px;
}

.specialPanel {

width: 300px;

display: flex;
flex-direction: column;

gap: 10px;
}

.specialPanel button {

min-height: 80px;

border: none;

border-radius: 15px;

background: #9cff8d;

font-weight: bold;

cursor: pointer;
}

/* PEP BUTTON */

#pepBtn {

position: absolute;

right: 120px;
top: 180px;

width: 180px;
height: 180px;

border: 8px solid purple;

border-radius: 20px;

background: white;

color: purple;

font-size: 60px;

font-weight: bold;

cursor: pointer;
}
