body {
margin: 0;
font-family: Arial;
text-align: center;
color: white;

background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
min-height: 100vh;
}

h1 {
font-size: 50px;
margin-top: 20px;
}

#coins {
font-size: 35px;
}

#perSec {
color: #aaa;
}

#horseBtn {
font-size: 120px;
background: none;
border: none;
cursor: pointer;
margin-top: 20px;
transition: transform 0.1s;
}

#horseBtn:active {
transform: scale(0.9);
}

.shop {
margin-top: 40px;
width: 320px;
margin-left: auto;
margin-right: auto;
background: #333;
padding: 20px;
border-radius: 20px;
}

.shop button {
width: 100%;
margin-top: 10px;
padding: 12px;
font-size: 16px;
border: none;
border-radius: 10px;
cursor: pointer;
background: #4c7dff;
color: white;
}

.shop button:hover {
background: #6a95ff;
